html.centered body {
  height: 100vh;
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  width: 100%!important;
  min-height: 100vh;
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  justify-content: center;
}
html.centered.blue body {
  background: #53808C;
  color: #fff;
}